/* mobile first */

html, body {
  margin: 0 auto;
  font-family: Helvetica, sans-serif;
  overflow-x: hidden;
  font-size: 20px;
}

.removeMobile {
  display: none;
}

nav {
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  height: 2rem;
  align-items:center;
  justify-items: start;
  padding: 0 .2rem;
  box-sizing: border-box;
}

#nav-name {
  box-sizing: border-box;
  color: #1F1F1F;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}

#hamburger {
  justify-self: end;
  width: 1.5rem;
  cursor: pointer;
  z-index: 7;
}

.hamburgerLine {
  transition: transform .1s ease-in-out;
}

#menu {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #171717;
  height: 100%;
  display: inline-grid;
  grid-template-rows: 3rem 3rem 3rem;
  align-items: center;
  justify-items: center;
  align-content: center;
  box-sizing: border-box;
  z-index: 6;
  left: 100%;
  opacity: .999;
  transition: all .1s ease-in-out;
}

.menuLink {
  color: #F7F7F7;
  text-decoration: none;
  font-size: 1.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transform: translateX(500%);
  transition: transform .2s ease .1s;
}

#insta-link {
  font-weight: bold;
  text-align: center;
  font-size: .8rem;
  margin: .3rem 0 0 0;
}

.preventScroll {
  overflow: hidden;
}

.changeColor {
  stroke: white !important;
}

.slideLeft {
  transform: translateX(-100%);
}

.delaySlide {
  transform: translateX(0px);
}

#photo-container {
  padding: .5rem 0 2rem 0;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
  'a b c'
  '. d .';
  place-items: center;
  box-sizing: border-box;
}

.photos {
  grid-area: b;
  width: 80vw;
  height: 80vw;
  max-width: 55rem;
  max-height: 55rem;
  object-fit: contain;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#photo-description {
  align-self: start;
  grid-area: d;
  font-size: .65rem;
  color: #4E4E4E;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.arrow {
  width: 2rem;
  cursor: pointer;
  display: inherit;
}

#leftArrow {
  transform: rotate(180deg) !important;
  grid-area: a;
}

#rightArrow {
  grid-area: c;
}

footer {
  background-color: #1F1F1F;
  color: #FFFF;
  width: 100%;
  display: grid;
  place-items: center;
  padding-top: 1rem;
  padding-bottom: .8rem;
  grid-gap: 1rem;
}

#home-ft {
  text-decoration: none;
}

#footer-logo {
  display: grid;
  padding-bottom: .5rem;
  border-bottom: solid #C30000 .1rem;
  color: white;
}

#first-name-ft {
  padding: 0;
  margin: 0;
  justify-self: start;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#last-name-ft {
  padding: 0;
  margin: 0;
  font-size: 3.1rem;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#footer-photography {
  padding: 0;
  margin: 0;
  justify-self: end;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#copyright-container {
  display: grid;
  place-items: center;
  margin-top: 1rem;
}

#copyright {
  padding: 0;
  margin: 0;
  font-size: .7rem;
  color: #4E4E4E;
}

#privacy {
  padding: 0;
  margin: 0;
  font-size: .7rem;
  color: #4E4E4E;
}

/* screen >= 500px */
@media screen and (min-width: 500px) {

  nav {
    padding: 0 1.5rem;
  }

  .photos {
    width: 43vw;
    min-width: 400px;
    height: 43vw;
    min-height: 400px;
  }

}

/* screen >= 700px */
@media screen and (min-width: 700px) {

  nav {
    padding: 0 3rem;
  }

}


/* screen >= 1200px */
@media screen and (min-width: 1200px) {


}
