html,
body {
  margin: 0 auto;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  font-size: 25px;
  background-color: rgb(10, 10, 10);
}

nav {
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  height: 2.5rem;
  align-items: center;
  justify-items: start;
  padding: 0 1rem;
  box-sizing: border-box;
  position: fixed;
}

#nav-name {
  box-sizing: border-box;
  color: rgb(245, 245, 245);
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  transition: opacity 0.1s ease-in-out;
}

#nav-insta {
  display: grid;
  justify-self: end;
}

.photo-container {
  margin: 5px 5px 1rem 5px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  grid-auto-flow: dense;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

.photo-container > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .photo-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
