/* mobile first */
html, body {
  margin: 0 auto;
  font-family: Helvetica, sans-serif;
  overflow-x: hidden;
  font-size: 20px;
}

.removeMobile {
  display: none;
}

nav {
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  height: 2rem;
  align-items:center;
  justify-items: start;
  padding: 0 .2rem;
  box-sizing: border-box;
  background-color: #1F1F1F;
}

#nav-name {
  box-sizing: border-box;
  color: #FFFF;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}

.insta-icon {
  width: 1.3rem;
}

.insta-container {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  text-decoration: none;
}

#insta-nav {
  display: none;
}

.insta-text {
  font-weight: bold;
  text-align: center;
  font-size: .8rem;
  color: #363636;
  margin: .3rem 0 0 0;
}

#hamburger {
  justify-self: end;
  width: 1.5rem;
  cursor: pointer;
  z-index: 7;
}

.hamburgerLine {
  transition: transform .1s ease-in-out;
}

#menu {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #171717;
  height: 100%;
  display: inline-grid;
  grid-template-rows: 3rem 3rem 3rem;
  align-items: center;
  justify-items: center;
  align-content: center;
  box-sizing: border-box;
  z-index: 6;
  left: 100%;
  opacity: .999;
  transition: all .1s ease-in-out;
}

.menuLink {
  color: #F7F7F7;
  text-decoration: none;
  font-size: 1.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transform: translateX(500%);
  transition: transform .2s ease .1s;
}

#insta-link {
  font-weight: bold;
  text-align: center;
  font-size: .8rem;
  margin: .3rem 0 0 0;
}

.preventScroll {
  overflow: hidden;
}

.slideLeft {
  transform: translateX(-100%);
}

.delaySlide {
  transform: translateX(0px);
}

header {
  background-color: #1F1F1F;
  color: #FFFF;
  text-align: center;
  font-family: 'Helvetica', 'sans-serif';
  height: calc(100vh - 2rem);
  min-height: 200px;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  place-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;;
}

#web-dev-link {
  color: #363636;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
  justify-self: start;
  display: none;
  transform: rotate(90deg);
  transform-origin: bottom left;
  letter-spacing: .2rem;
  cursor: pointer;
}

#web-dev-link:hover {
  color: #FFFF;
}

#header-logo {
  display: grid;
  padding-bottom: .5rem;
  border-bottom: solid #C30000 .1rem;
}

#first-name {
  font-size: 1.5rem;
  font-weight: 500;
  justify-self: start;
  padding: 0;
  margin: 0;
}

#last-name {
  padding: 0;
  margin: 0;
  font-size: 4rem;
  text-transform: uppercase;
}

#header-photography {
  padding: 0;
  margin: 0;
  justify-self: end;
  font-size: 1.5rem;
}

#scroll-container {
  display: grid;
  place-items: center;
  grid-gap: .5rem;
  padding: 0;
  margin: 0;
}
 #scroll-text {
   padding: 0;
   margin: 0;
   font-size: .6rem;
   color: #363636;
   letter-spacing: .05rem;
 }

#downArrow {
  padding: 0;
  margin: 0;
  cursor: inherit;
  animation: bounce .7s ease-in 0s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
    opacity: 1;


   }
  to   {
    transform: translateY(5px) scale(1);
    opacity: .1;

   }
}

#header-bottom {
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#photo-container {
  margin: 10rem 0;
  min-height: 900px;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
  'a b c';
  place-items: center;
  box-sizing: border-box;
}

.photos {
  grid-area: b;
  width: 100%;
  height: 600px;
  object-fit: contain;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.arrow {
  width: 2rem;
  cursor: pointer;
  display: inherit;
}

#leftArrow {
  transform: rotate(180deg) !important;
  grid-area: a;
}

#rightArrow {
  grid-area: c;
}

footer {
  background-color: #242424;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  color: #C9C9C9;
}

.footer-header {
  margin: 0 0 1rem 0;
  text-align: center;
  letter-spacing: .1rem;
}

.footer-cont {
  width: 9rem;
  display: inline-grid;
}

#footer-contact {
  text-align: center;
}

.footer-link {
  color: #C9C9C9;
  text-decoration: none;
  font-size: .7rem;
  letter-spacing: .05rem;
  font-weight: lighter;
  margin: .2rem auto;
  padding: .1rem;
}

#insta-footer-link {
  line-height: 1rem;
  height: 1.4rem;
}

 #footer-website-links {
  border-left: solid #707070 .1px;
  border-right: solid #707070 .1px;
  padding: 1rem 2rem;
  display: inline-grid;
}

 #footer-social {
  text-align: center;
}

#footer-website {
  order: 0
}

#footer-website-links {
  border: none;
}

#footer-social {
  order: 1;
  border-top: solid #707070  1px;
  border-bottom: solid #707070  1px;
}

#footer-contact {
  order: 2;
}

.footer-cont {
  padding: 2rem;
}



/* screen >= 500px */
@media screen and (min-width: 500px) {

  nav {
    padding: 0 1.5rem;
  }

  #insta-nav {
    display: grid;
    justify-self: end;
  }

  .insta-container {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    text-decoration: none;
  }

}

/* screen >= 700px */
@media screen and (min-width: 700px) {

  nav {
    padding: 0 3rem;
  }

  header {
    grid-template-rows: 1fr 1fr 1fr;
    padding: .5rem;
    box-sizing: border-box;
  }

  #web-dev-link {
    display: inherit;
  }

  .photos {
    width: 600px;
    height: 600px;
  }

  footer {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    padding: 2rem 1rem;
  }

  .footer-cont {
    height: 95%;
    padding: 0;
  }

  #footer-contact {
    order: 1
  }

  #footer-website {
      order: 2
  }

   #footer-website-links {
    border-left: solid #707070 .1px;
    border-right: solid #707070 .1px;
    padding: 1rem 1rem;
  }

   #footer-social {
    order: 3;
    border: none;
  }

}

/* screen >= 1200px */
@media screen and (min-width: 1200px) {
  #first-name {
    font-size: 2.7rem;
  }

  #last-name {
    font-size: 8rem;
  }

  #header-photography {

    font-size: 2.7rem;
  }

  #footer-contact {
    justify-self: end;
  }

  #footer-social {
   justify-self: start;
 }
}
